/*********** Fixer le style global ******************/

html,body{
    margin: 0rem;
    padding: 0rem;
    font-size: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(47, 47, 47);
    background-color: white;
}

/*********** Mise en page centrale en 1024px max ************************/
.container{
    max-width: 102.4rem;
    margin: auto;
}

/*********** Header *********************************/
.main-head{
    height: 11.8rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    
}
.logo-img{
    padding-top: 4.7rem;
    height: 5.4rem;
    aspect-ratio: auto 13.2rem / 5.4rem;
}

/*********** Footer ***********************************/
.main-footer{
    background-color: rgb(60, 0, 90);
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.main-footer li {
    display: inline-block;
}
.main-footer li a{
    color: white;
    font-size: 1.5rem;
    font-weight: 50rem;
    padding: 0rem 2.4rem 0rem 2.4rem;
    text-decoration: none;
}

/*********** Menu principal *************************/
.main-nav{
    height: 4.4rem;
    background-color: rgb(60, 0, 90);
}
.main-nav li {
    display: inline-block;
}
.main-nav li a{
    color: white;
    font-size: 1.5rem;
    font-weight: 50rem;
    padding: 0rem 2.4rem 0rem 2.4rem;
    text-decoration: none;
}

/*********** Article principal **********************/


/*********** Article secondaire **********************/
